<div id="comment-links">Please <%= link_to "Register", new_user_registration_path, {:rel => "nofollow" } %> or <%= link_to "Login", new_user_session_path, {:rel => "nofollow" } %> To Leave A Comment</div>
